.main_section--buy {
    background: url(../images/Group\ 37\ \(1\)\ 1.png) center/cover no-repeat;
}

.main_container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.main_section--buy-logo {
    padding-top: 94px;
    padding-left: 14px;
}

.main_section--buy--title {
    font-family: Playfair Display;
    font-size: 144px;
    font-weight: 400;
    line-height: 191.95px;
    text-align: left;
    color: #FFFFFF;
}

.main_section--buy--h2title {
    margin-bottom: 12px;
    margin-top: -30px;
    font-family: Playfair Display;
    font-size: 72px;
    font-weight: 400;
    line-height: 95.98px;
    text-align: left;
    color: #FFFFFF;
}

.main_section--buy--text {
    margin-bottom: 41px;
    max-width: 508px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
}

.buy_button {
    cursor: pointer;
    border: 0;
    margin-bottom: 183px;
    width: 254px;
    height: 67px;
    border-radius: 10px;
    background: #8E32C6;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    color: #FFFFFF;
}

.main_second--card_section {
    background: url(../images/Group\ 8\ 1.png) center/cover no-repeat;
    padding-bottom: 106px;
    padding-top: 106px;
}

.main_second--card_section .main_container {
    border: 5px solid #8E32C6;
}

.main_second--cards {
    display: flex;
    justify-content: center;
    padding: 25px 50px;
    gap: 95px;
}

.main_second--card--text {
    max-width: 160px;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    line-height: 47.99px;
    text-align: center;
    color: #FFFFFF;
}

.main_second--card:first-child {
    border-right: 1px solid #FFFFFF;
    padding-right: 50px;
}

.main_second--card:last-child {
    border-left: 1px solid #FFFFFF;
    padding-left: 50px;
}

.main_second--card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_third--section {
    background: url(../images/Group\ 6\ 1.png) center/cover no-repeat;
    padding-top: 24px;
    position: relative;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.bag_flower {
    position: absolute;
    left: 0;
    bottom: 0;
}

.main_third--title {
    display: flex;
    justify-content: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 63.98px;
    text-align: center;
    color: #FFFFFF;
}

.main_third--section .main_container {
    max-width: 951px;
}

.main_third--cards {
    display: flex;
    margin-top: 24px;
    gap: 93px;
    padding-bottom: 104px;
}

.main_third--card {
    padding: 49px 14px 29px 14px;
    border-radius: 15px;
}

.main_third--card:first-child {
    background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2,
        0px 30px 0px -13px #533978;
}

.main_third--card:nth-child(2) {
    background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1,
        0px 30px 0px -13px #61337C;
}

.main_third--card:nth-child(3) {
    background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C,
        0px 30px 0px -13px #732F26;
}

.main_third--card--text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #FFFFFF;
    max-width: 228px;
    margin-bottom: 8px;
}

.main_third--card--date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #D8D8D8;
    margin-bottom: 47px;
}

.main_third--card--info {
    display: flex;
    gap: 5px;
}

.main_third--card--name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #FFFFFF;
}

.main_third--card--started--date {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #D8D8D8;
}

.main_fourth--section {
    background: url(../images/Group\ 2\ 1.png) center/cover no-repeat;
}

.main_fourth--title {
    display: flex;
    justify-content: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 63.98px;
    text-align: left;
    padding-top: 20px;
    margin-bottom: 33px;
    color: #FFFFFF;
}

.form_first--line {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 50px;
    padding: 12px 25px;
    width: 100%;
    max-width: 690px;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.form_first--line input {
    border: none;
    outline: 0;
    font-size: 28px;
    color: #959595;
}

.form_first--btn {
    background: none;
    border: none;
    font-size: 28px;
    color: #959595;
    cursor: pointer;
    padding-right: 78px;
}

.form_input {
    border: none;
    outline: none;
    width: 580px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
    font-size: 24px;
    color: #959595;
    padding-left: 24px;
}

.main_fourth--btn {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: center;
    color: #ffffff;
    background: #8E32C6;
    border: 0;
    width: 248px;
    height: 68px;
    border-radius: 16px;
}

.main_fourth--btn--wrapper {
    padding-bottom: 37px;
}